<a href="https://colab.research.google.com/github/jerome-05/jerome-05/blob/main/bda_cia2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 3.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=02b8346db58803bfcedd85d8bc2850090f0f07a0a2c45dadcef0c6eb68feba2e
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .appName("Customer attrition rate") \
    .getOrCreate()

In [ ]:
data = spark.read.csv("/content/drive/MyDrive/Train.csv", header=True, inferSchema=True)

In [ ]:
data.show()

+-----------+------+----+---------------+-------------------+-----------+--------------------+----------------------+---------------+--------------------+-----------+-----------+----------+---------+-------------------------+-----------------+----+-------+-------+----+----+----+----+--------------------+
|Employee_ID|Gender| Age|Education_Level|Relationship_Status|   Hometown|                Unit|Decision_skill_possess|Time_of_service|Time_since_promotion|growth_rate|Travel_Rate|Post_Level|Pay_Scale|Compensation_and_Benefits|Work_Life_balance|VAR1|   VAR2|   VAR3|VAR4|VAR5|VAR6|VAR7|      Attrition_rate|
+-----------+------+----+---------------+-------------------+-----------+--------------------+----------------------+---------------+--------------------+-----------+-----------+----------+---------+-------------------------+-----------------+----+-------+-------+----+----+----+----+--------------------+
|  EID_23371|     F|42.0|              4|            Married|   Franklin|                  IT|            Conceptual|            4.0|                   4|         33|          1|         1|      7.0|                    type2|              3.0|   4| 0.7516| 1.8688| 2.0|   4|   5|   3|              0.1841|
|  EID_18000|     M|24.0|              3|             Single|Springfield|           Logistics|            Analytical|            5.0|                   4|         36|          0|         3|      6.0|                    type2|              4.0|   3|-0.9612|-0.4537| 2.0|   3|   5|   3|               0.067|
|   EID_3891|     F|58.0|              3|            Married|    Clinton|             Quality|            Conceptual|           27.0|                   3|         51|          0|         2|      8.0|                    type2|              1.0|   4|-0.9612|-0.4537| 3.0|   3|   8|   3|              0.0851|
|  EID_17492|     F|26.0|              3|             Single|    Lebanon|Human Resource Ma...|            Behavioral|            4.0|                   3|         56|          1|         3|      8.0|                    type2|              1.0|   3|-1.8176|-0.4537|NULL|   3|   7|   3|              0.0668|
|  EID_22534|     F|31.0|              1|            Married|Springfield|           Logistics|            Conceptual|            5.0|                   4|         62|          1|         3|      2.0|                    type3|              3.0|   1| 0.7516|-0.4537| 2.0|   2|   8|   2|              0.1827|
|   EID_2278|     M|54.0|              3|            Married|    Lebanon|          Purchasing|            Conceptual|           19.0|                   1|         21|          2|         5|      9.0|                    type2|              1.0|   3|-1.8176| 1.8688| 2.0|   2|   8|   3|              0.7613|
|  EID_18588|     F|21.0|              4|            Married|Springfield|          Purchasing|             Directive|            2.0|                   1|         50|          1|         1|      6.0|                    type2|              2.0|   3|-0.9612| 0.7075| 2.0|   3|   7|   3|              0.2819|
|   EID_1235|     F|NULL|              3|            Married|Springfield|               Sales|             Directive|           34.0|                   4|         23|          1|         4|      6.0|                    type3|              2.0|   3|-0.1048|-0.4537| 2.0|   3|   9|   3|              0.1169|
|  EID_10197|     M|40.0|              4|             Single|Springfield|          Production|            Analytical|           13.0|                   1|         49|          0|         1|      9.0|                    type0|              4.0|   1|   NULL| 1.8688| 2.0|   5|   6|   3|              0.1968|
|  EID_21262|     M|45.0|              3|            Married|    Lebanon|                  IT|             Directive|           21.0|                   4|         34|          0|         2|      5.0|                    type3|              4.0|   3| 0.7516|-0.4537| 2.0|   4|   8|   3|               0.287|
|   EID_9153|     F|65.0|              5|             Single|    Lebanon|          Purchasing|            Behavioral|           31.0|                   3|         49|          1|         1|      6.0|                    type3|              3.0|   3| 0.7516|-0.4537| 3.0|   4|   6|   3|              0.2735|
|  EID_19087|     F|19.0|              5|             Single|Springfield|          Operarions|            Analytical|            0.0|                   0|         25|          1|         2|      5.0|                    type4|              1.0|   3|-1.8176|-0.4537| 2.0|   3|   6|   3|                0.08|
|   EID_4825|     M|63.0|              3|            Married|    Lebanon|               Sales|            Conceptual|           27.0|                   1|         29|          0|         2|      7.0|                    type2|              1.0|   3|-0.1048|-0.4537| 2.0|   5|   6|   3|              0.2109|
|  EID_17644|     F|23.0|              4|             Single| Washington|           Logistics|            Conceptual|            4.0|                   2|         70|          1|         3|      8.0|                    type2|              3.0|   4|-0.1048| -1.615| 2.0|   4|   8|   3|              0.1696|
|  EID_20902|     F|19.0|              3|            Married| Washington|Human Resource Ma...|             Directive|            0.0|                   0|         74|          0|         2|      9.0|                    type2|              3.0|   3|-0.9612| 1.8688| 2.0|   4|   6|   3|              0.0318|
|  EID_20121|     F|NULL|              3|            Married|Springfield|           Logistics|            Analytical|            0.0|                   0|         32|          1|         2|      6.0|                    type2|              2.0|   3| 0.7516| -1.615| 1.0|   3|   8|   3|              0.1331|
|   EID_5504|     M|65.0|              4|             Single|   Franklin|                  IT|            Behavioral|           35.0|                   1|         58|          0|         3|      4.0|                    type2|              2.0|   3|-0.1048| 0.7075| 1.0|   3|   5|   3|              0.0671|
|   EID_8049|     F|40.0|              4|            Married|Springfield|Accounting and Fi...|             Directive|           12.0|                   1|         45|          1|         3|      9.0|                    type3|              2.0|   3|-0.9612|-0.4537| 2.0|   5|   8|   4|              0.1468|
|  EID_14638|     M|33.0|              3|             Single|Springfield|Accounting and Fi...|            Analytical|            9.0|                   1|         39|          1|         2|      5.0|                    type3|              1.0|   3|-1.8176| 0.7075| 2.0|   3|   8|   3|0.055999999999999994|
|  EID_12947|     M|32.0|              3|             Single|    Lebanon|                  IT|            Conceptual|            7.0|                   4|         44|          0|         4|      5.0|                    type2|              1.0|   3|   NULL| 0.7075| 1.0|   1|   5|   4|  0.6409999999999999|
+-----------+------+----+---------------+-------------------+-----------+--------------------+----------------------+---------------+--------------------+-----------+-----------+----------+---------+-------------------------+-----------------+----+-------+-------+----+----+----+----+--------------------+
only showing top 20 rows

## ACTIONS

In [ ]:
# printSchema() to view the schema of the dataframe
data.printSchema()

root
 |-- Employee_ID: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- Education_Level: integer (nullable = true)
 |-- Relationship_Status: string (nullable = true)
 |-- Hometown: string (nullable = true)
 |-- Unit: string (nullable = true)
 |-- Decision_skill_possess: string (nullable = true)
 |-- Time_of_service: double (nullable = true)
 |-- Time_since_promotion: integer (nullable = true)
 |-- growth_rate: integer (nullable = true)
 |-- Travel_Rate: integer (nullable = true)
 |-- Post_Level: integer (nullable = true)
 |-- Pay_Scale: double (nullable = true)
 |-- Compensation_and_Benefits: string (nullable = true)
 |-- Work_Life_balance: double (nullable = true)
 |-- VAR1: integer (nullable = true)
 |-- VAR2: double (nullable = true)
 |-- VAR3: double (nullable = true)
 |-- VAR4: double (nullable = true)
 |-- VAR5: integer (nullable = true)
 |-- VAR6: integer (nullable = true)
 |-- VAR7: integer (nullable = true)
 |-- Attrition_rate: double (nullable = true)

In [ ]:
# show() to view the records in the dataframe
data.show(truncate=False)

+-----------+------+----+---------------+-------------------+-----------+-------------------------+----------------------+---------------+--------------------+-----------+-----------+----------+---------+-------------------------+-----------------+----+-------+-------+----+----+----+----+--------------------+
|Employee_ID|Gender|Age |Education_Level|Relationship_Status|Hometown   |Unit                     |Decision_skill_possess|Time_of_service|Time_since_promotion|growth_rate|Travel_Rate|Post_Level|Pay_Scale|Compensation_and_Benefits|Work_Life_balance|VAR1|VAR2   |VAR3   |VAR4|VAR5|VAR6|VAR7|Attrition_rate      |
+-----------+------+----+---------------+-------------------+-----------+-------------------------+----------------------+---------------+--------------------+-----------+-----------+----------+---------+-------------------------+-----------------+----+-------+-------+----+----+----+----+--------------------+
|EID_23371  |F     |42.0|4              |Married            |Franklin   |IT                       |Conceptual            |4.0            |4                   |33         |1          |1         |7.0      |type2                    |3.0              |4   |0.7516 |1.8688 |2.0 |4   |5   |3   |0.1841              |
|EID_18000  |M     |24.0|3              |Single             |Springfield|Logistics                |Analytical            |5.0            |4                   |36         |0          |3         |6.0      |type2                    |4.0              |3   |-0.9612|-0.4537|2.0 |3   |5   |3   |0.067               |
|EID_3891   |F     |58.0|3              |Married            |Clinton    |Quality                  |Conceptual            |27.0           |3                   |51         |0          |2         |8.0      |type2                    |1.0              |4   |-0.9612|-0.4537|3.0 |3   |8   |3   |0.0851              |
|EID_17492  |F     |26.0|3              |Single             |Lebanon    |Human Resource Management|Behavioral            |4.0            |3                   |56         |1          |3         |8.0      |type2                    |1.0              |3   |-1.8176|-0.4537|NULL|3   |7   |3   |0.0668              |
|EID_22534  |F     |31.0|1              |Married            |Springfield|Logistics                |Conceptual            |5.0            |4                   |62         |1          |3         |2.0      |type3                    |3.0              |1   |0.7516 |-0.4537|2.0 |2   |8   |2   |0.1827              |
|EID_2278   |M     |54.0|3              |Married            |Lebanon    |Purchasing               |Conceptual            |19.0           |1                   |21         |2          |5         |9.0      |type2                    |1.0              |3   |-1.8176|1.8688 |2.0 |2   |8   |3   |0.7613              |
|EID_18588  |F     |21.0|4              |Married            |Springfield|Purchasing               |Directive             |2.0            |1                   |50         |1          |1         |6.0      |type2                    |2.0              |3   |-0.9612|0.7075 |2.0 |3   |7   |3   |0.2819              |
|EID_1235   |F     |NULL|3              |Married            |Springfield|Sales                    |Directive             |34.0           |4                   |23         |1          |4         |6.0      |type3                    |2.0              |3   |-0.1048|-0.4537|2.0 |3   |9   |3   |0.1169              |
|EID_10197  |M     |40.0|4              |Single             |Springfield|Production               |Analytical            |13.0           |1                   |49         |0          |1         |9.0      |type0                    |4.0              |1   |NULL   |1.8688 |2.0 |5   |6   |3   |0.1968              |
|EID_21262  |M     |45.0|3              |Married            |Lebanon    |IT                       |Directive             |21.0           |4                   |34         |0          |2         |5.0      |type3                    |4.0              |3   |0.7516 |-0.4537|2.0 |4   |8   |3   |0.287               |
|EID_9153   |F     |65.0|5              |Single             |Lebanon    |Purchasing               |Behavioral            |31.0           |3                   |49         |1          |1         |6.0      |type3                    |3.0              |3   |0.7516 |-0.4537|3.0 |4   |6   |3   |0.2735              |
|EID_19087  |F     |19.0|5              |Single             |Springfield|Operarions               |Analytical            |0.0            |0                   |25         |1          |2         |5.0      |type4                    |1.0              |3   |-1.8176|-0.4537|2.0 |3   |6   |3   |0.08                |
|EID_4825   |M     |63.0|3              |Married            |Lebanon    |Sales                    |Conceptual            |27.0           |1                   |29         |0          |2         |7.0      |type2                    |1.0              |3   |-0.1048|-0.4537|2.0 |5   |6   |3   |0.2109              |
|EID_17644  |F     |23.0|4              |Single             |Washington |Logistics                |Conceptual            |4.0            |2                   |70         |1          |3         |8.0      |type2                    |3.0              |4   |-0.1048|-1.615 |2.0 |4   |8   |3   |0.1696              |
|EID_20902  |F     |19.0|3              |Married            |Washington |Human Resource Management|Directive             |0.0            |0                   |74         |0          |2         |9.0      |type2                    |3.0              |3   |-0.9612|1.8688 |2.0 |4   |6   |3   |0.0318              |
|EID_20121  |F     |NULL|3              |Married            |Springfield|Logistics                |Analytical            |0.0            |0                   |32         |1          |2         |6.0      |type2                    |2.0              |3   |0.7516 |-1.615 |1.0 |3   |8   |3   |0.1331              |
|EID_5504   |M     |65.0|4              |Single             |Franklin   |IT                       |Behavioral            |35.0           |1                   |58         |0          |3         |4.0      |type2                    |2.0              |3   |-0.1048|0.7075 |1.0 |3   |5   |3   |0.0671              |
|EID_8049   |F     |40.0|4              |Married            |Springfield|Accounting and Finance   |Directive             |12.0           |1                   |45         |1          |3         |9.0      |type3                    |2.0              |3   |-0.9612|-0.4537|2.0 |5   |8   |4   |0.1468              |
|EID_14638  |M     |33.0|3              |Single             |Springfield|Accounting and Finance   |Analytical            |9.0            |1                   |39         |1          |2         |5.0      |type3                    |1.0              |3   |-1.8176|0.7075 |2.0 |3   |8   |3   |0.055999999999999994|
|EID_12947  |M     |32.0|3              |Single             |Lebanon    |IT                       |Conceptual            |7.0            |4                   |44         |0          |4         |5.0      |type2                    |1.0              |3   |NULL   |0.7075 |1.0 |1   |5   |4   |0.6409999999999999  |
+-----------+------+----+---------------+-------------------+-----------+-------------------------+----------------------+---------------+--------------------+-----------+-----------+----------+---------+-------------------------+-----------------+----+-------+-------+----+----+----+----+--------------------+
only showing top 20 rows

In [ ]:
# first() to display the first record in the dataframe
data.first()

Row(Employee_ID='EID_23371', Gender='F', Age=42.0, Education_Level=4, Relationship_Status='Married', Hometown='Franklin', Unit='IT', Decision_skill_possess='Conceptual', Time_of_service=4.0, Time_since_promotion=4, growth_rate=33, Travel_Rate=1, Post_Level=1, Pay_Scale=7.0, Compensation_and_Benefits='type2', Work_Life_balance=3.0, VAR1=4, VAR2=0.7516, VAR3=1.8688, VAR4=2.0, VAR5=4, VAR6=5, VAR7=3, Attrition_rate=0.1841)

In [ ]:
# limit() to display only the number records specified
data.limit(2).show()

+-----------+------+----+---------------+-------------------+-----------+---------+----------------------+---------------+--------------------+-----------+-----------+----------+---------+-------------------------+-----------------+----+-------+-------+----+----+----+----+--------------+
|Employee_ID|Gender| Age|Education_Level|Relationship_Status|   Hometown|     Unit|Decision_skill_possess|Time_of_service|Time_since_promotion|growth_rate|Travel_Rate|Post_Level|Pay_Scale|Compensation_and_Benefits|Work_Life_balance|VAR1|   VAR2|   VAR3|VAR4|VAR5|VAR6|VAR7|Attrition_rate|
+-----------+------+----+---------------+-------------------+-----------+---------+----------------------+---------------+--------------------+-----------+-----------+----------+---------+-------------------------+-----------------+----+-------+-------+----+----+----+----+--------------+
|  EID_23371|     F|42.0|              4|            Married|   Franklin|       IT|            Conceptual|            4.0|                   4|         33|          1|         1|      7.0|                    type2|              3.0|   4| 0.7516| 1.8688| 2.0|   4|   5|   3|        0.1841|
|  EID_18000|     M|24.0|              3|             Single|Springfield|Logistics|            Analytical|            5.0|                   4|         36|          0|         3|      6.0|                    type2|              4.0|   3|-0.9612|-0.4537| 2.0|   3|   5|   3|         0.067|
+-----------+------+----+---------------+-------------------+-----------+---------+----------------------+---------------+--------------------+-----------+-----------+----------+---------+-------------------------+-----------------+----+-------+-------+----+----+----+----+--------------+

In [ ]:
# take() to display the number of records specified in form of a list
data.take(4)

[Row(Employee_ID='EID_23371', Gender='F', Age=42.0, Education_Level=4, Relationship_Status='Married', Hometown='Franklin', Unit='IT', Decision_skill_possess='Conceptual', Time_of_service=4.0, Time_since_promotion=4, growth_rate=33, Travel_Rate=1, Post_Level=1, Pay_Scale=7.0, Compensation_and_Benefits='type2', Work_Life_balance=3.0, VAR1=4, VAR2=0.7516, VAR3=1.8688, VAR4=2.0, VAR5=4, VAR6=5, VAR7=3, Attrition_rate=0.1841),
 Row(Employee_ID='EID_18000', Gender='M', Age=24.0, Education_Level=3, Relationship_Status='Single', Hometown='Springfield', Unit='Logistics', Decision_skill_possess='Analytical', Time_of_service=5.0, Time_since_promotion=4, growth_rate=36, Travel_Rate=0, Post_Level=3, Pay_Scale=6.0, Compensation_and_Benefits='type2', Work_Life_balance=4.0, VAR1=3, VAR2=-0.9612, VAR3=-0.4537, VAR4=2.0, VAR5=3, VAR6=5, VAR7=3, Attrition_rate=0.067),
 Row(Employee_ID='EID_3891', Gender='F', Age=58.0, Education_Level=3, Relationship_Status='Married', Hometown='Clinton', Unit='Quality', Decision_skill_possess='Conceptual', Time_of_service=27.0, Time_since_promotion=3, growth_rate=51, Travel_Rate=0, Post_Level=2, Pay_Scale=8.0, Compensation_and_Benefits='type2', Work_Life_balance=1.0, VAR1=4, VAR2=-0.9612, VAR3=-0.4537, VAR4=3.0, VAR5=3, VAR6=8, VAR7=3, Attrition_rate=0.0851),
 Row(Employee_ID='EID_17492', Gender='F', Age=26.0, Education_Level=3, Relationship_Status='Single', Hometown='Lebanon', Unit='Human Resource Management', Decision_skill_possess='Behavioral', Time_of_service=4.0, Time_since_promotion=3, growth_rate=56, Travel_Rate=1, Post_Level=3, Pay_Scale=8.0, Compensation_and_Benefits='type2', Work_Life_balance=1.0, VAR1=3, VAR2=-1.8176, VAR3=-0.4537, VAR4=None, VAR5=3, VAR6=7, VAR7=3, Attrition_rate=0.0668)]

In [ ]:
# getNumPartitions() to get the total number of partitions
data.rdd.getNumPartitions()

1

In [ ]:
# repartition() to change the number of partitions
data1=data.repartition(5)
data1.rdd.getNumPartitions()

5

In [ ]:
# coalesce() to change the number of partitions
data2=data1.coalesce(3)
data2.rdd.getNumPartitions()

3

## TRANSFORMATION

In [ ]:
# select() to choose only the columns specified
new_data=data.select("Employee_ID","Gender","Age","Hometown")

In [ ]:
new_data.show()

+-----------+------+----+-----------+
|Employee_ID|Gender| Age|   Hometown|
+-----------+------+----+-----------+
|  EID_23371|     F|42.0|   Franklin|
|  EID_18000|     M|24.0|Springfield|
|   EID_3891|     F|58.0|    Clinton|
|  EID_17492|     F|26.0|    Lebanon|
|  EID_22534|     F|31.0|Springfield|
|   EID_2278|     M|54.0|    Lebanon|
|  EID_18588|     F|21.0|Springfield|
|   EID_1235|     F|NULL|Springfield|
|  EID_10197|     M|40.0|Springfield|
|  EID_21262|     M|45.0|    Lebanon|
|   EID_9153|     F|65.0|    Lebanon|
|  EID_19087|     F|19.0|Springfield|
|   EID_4825|     M|63.0|    Lebanon|
|  EID_17644|     F|23.0| Washington|
|  EID_20902|     F|19.0| Washington|
|  EID_20121|     F|NULL|Springfield|
|   EID_5504|     M|65.0|   Franklin|
|   EID_8049|     F|40.0|Springfield|
|  EID_14638|     M|33.0|Springfield|
|  EID_12947|     M|32.0|    Lebanon|
+-----------+------+----+-----------+
only showing top 20 rows

In [ ]:
new_data.printSchema()

root
 |-- Employee_ID: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- Hometown: string (nullable = true)

In [ ]:
new_data.show(truncate=False)

+-----------+------+----+-----------+
|Employee_ID|Gender|Age |Hometown   |
+-----------+------+----+-----------+
|EID_23371  |F     |42.0|Franklin   |
|EID_18000  |M     |24.0|Springfield|
|EID_3891   |F     |58.0|Clinton    |
|EID_17492  |F     |26.0|Lebanon    |
|EID_22534  |F     |31.0|Springfield|
|EID_2278   |M     |54.0|Lebanon    |
|EID_18588  |F     |21.0|Springfield|
|EID_1235   |F     |NULL|Springfield|
|EID_10197  |M     |40.0|Springfield|
|EID_21262  |M     |45.0|Lebanon    |
|EID_9153   |F     |65.0|Lebanon    |
|EID_19087  |F     |19.0|Springfield|
|EID_4825   |M     |63.0|Lebanon    |
|EID_17644  |F     |23.0|Washington |
|EID_20902  |F     |19.0|Washington |
|EID_20121  |F     |NULL|Springfield|
|EID_5504   |M     |65.0|Franklin   |
|EID_8049   |F     |40.0|Springfield|
|EID_14638  |M     |33.0|Springfield|
|EID_12947  |M     |32.0|Lebanon    |
+-----------+------+----+-----------+
only showing top 20 rows

In [ ]:
# groupBy() to group the data based on GENDER and provide the minimum PAY_SCALE obtained by that author
data.groupBy("Gender").min("Pay_Scale").show()

+------+--------------+
|Gender|min(Pay_Scale)|
+------+--------------+
|     F|           1.0|
|     M|           1.0|
+------+--------------+

In [ ]:
# groupBy() to group the data based on GENDER and provide the minimum PAY_SCALE obtained by that author
data.groupBy("Gender").max("Pay_Scale").show()

+------+--------------+
|Gender|max(Pay_Scale)|
+------+--------------+
|     F|          10.0|
|     M|          10.0|
+------+--------------+

In [ ]:
# groupBy() to group the data based on AGE and provide the sum of GROWTH_RATE by that AGE
data.groupBy("Age").sum("growth_rate").show()

+----+----------------+
| Age|sum(growth_rate)|
+----+----------------+
|49.0|            4516|
|29.0|            5295|
|64.0|            4916|
|47.0|            9003|
|42.0|            9208|
|44.0|            3970|
|NULL|           19279|
|35.0|            9974|
|62.0|            3120|
|39.0|            3984|
|34.0|            4618|
|37.0|            9933|
|25.0|           10803|
|36.0|            4890|
|41.0|            4266|
|23.0|            6707|
|50.0|            4748|
|56.0|            4456|
|45.0|            8424|
|31.0|           10209|
+----+----------------+
only showing top 20 rows

In [ ]:
# count() to find the REL_STATUS published by AGE
author_data=data.groupBy("Age").count()
author_data=author_data.withColumnRenamed("Relationship_Status","rel_status")
author_data.show(50,truncate=False)

+----+-----+
|Age |count|
+----+-----+
|49.0|97   |
|29.0|115  |
|64.0|95   |
|47.0|193  |
|42.0|193  |
|44.0|85   |
|NULL|412  |
|35.0|205  |
|62.0|69   |
|39.0|83   |
|34.0|99   |
|37.0|208  |
|25.0|235  |
|36.0|106  |
|41.0|92   |
|23.0|148  |
|50.0|101  |
|56.0|94   |
|45.0|184  |
|31.0|218  |
|58.0|122  |
|21.0|171  |
|51.0|103  |
|63.0|73   |
|48.0|79   |
|22.0|235  |
|60.0|211  |
|19.0|151  |
|53.0|88   |
|61.0|63   |
|59.0|136  |
|46.0|98   |
|28.0|194  |
|57.0|92   |
|38.0|89   |
|27.0|231  |
|40.0|81   |
|30.0|191  |
|33.0|104  |
|20.0|122  |
|52.0|199  |
|32.0|189  |
|24.0|185  |
|55.0|94   |
|26.0|210  |
|65.0|152  |
|54.0|212  |
|43.0|93   |
+----+-----+

In [ ]:
# distinct() to USING find the distinct TRANSFORMATION
author_data.distinct().count()

48

In [ ]:
# filter() to filter books published after 2000 into one dataframe and books with more than 4.0 rating to another dataframe
left_data=data.filter(data["Education_Level"]>3)
right_data=data.filter(data["Pay_Scale"]>4.0)

In [ ]:
# intersect() to find the books that were published after 3 and has rating more than 4.0
in_data=left_data.intersect(right_data)
in_data.select("Employee_ID","Gender","Age","Relationship_Status").show()

+-----------+------+----+-------------------+
|Employee_ID|Gender| Age|Relationship_Status|
+-----------+------+----+-------------------+
|   EID_4709|     F|57.0|             Single|
|  EID_10211|     F|45.0|             Single|
|  EID_22437|     M|28.0|            Married|
|  EID_20520|     F|35.0|             Single|
|  EID_12289|     F|30.0|            Married|
|  EID_23721|     F|45.0|             Single|
|  EID_25458|     F|37.0|             Single|
|  EID_10586|     F|39.0|            Married|
|   EID_5236|     F|51.0|             Single|
|  EID_24642|     F|22.0|             Single|
|  EID_11394|     F|33.0|             Single|
|  EID_24485|     F|25.0|            Married|
|   EID_2608|     F|62.0|            Married|
|   EID_6686|     F|52.0|            Married|
|  EID_23502|     M|30.0|             Single|
|   EID_8143|     M|49.0|            Married|
|   EID_7682|     F|50.0|             Single|
|  EID_25325|     F|32.0|            Married|
|  EID_11662|     F|36.0|            Married|
|   EID_9972|     M|37.0|             Single|
+-----------+------+----+-------------------+
only showing top 20 rows

In [ ]:
# intersect() to find the books that were published after 2000 and has rating more than 4.0
in_data=left_data.union(right_data)
in_data.select("Employee_ID","Gender","Age","Relationship_Status").show()

+-----------+------+----+-------------------+
|Employee_ID|Gender| Age|Relationship_Status|
+-----------+------+----+-------------------+
|  EID_23371|     F|42.0|            Married|
|  EID_18588|     F|21.0|            Married|
|  EID_10197|     M|40.0|             Single|
|   EID_9153|     F|65.0|             Single|
|  EID_19087|     F|19.0|             Single|
|  EID_17644|     F|23.0|             Single|
|   EID_5504|     M|65.0|             Single|
|   EID_8049|     F|40.0|            Married|
|  EID_20029|     F|22.0|            Married|
|  EID_23853|     F|31.0|            Married|
|  EID_16808|     F|24.0|             Single|
|   EID_4861|     F|47.0|             Single|
|  EID_18060|     M|24.0|             Single|
|  EID_20761|     F|19.0|             Single|
|  EID_10767|     M|43.0|            Married|
|  EID_14404|     M|30.0|            Married|
|  EID_23163|     M|27.0|            Married|
|  EID_10796|     F|34.0|            Married|
|  EID_15197|     M|31.0|             Single|
|   EID_9981|     F|41.0|            Married|
+-----------+------+----+-------------------+
only showing top 20 rows

In [ ]:
# intersect() to find the books that were published after 2000 and has rating more than 4.0
in_data=left_data.subtract(right_data)
in_data.select("Employee_ID","Gender","Age","Relationship_Status").show()

+-----------+------+----+-------------------+
|Employee_ID|Gender| Age|Relationship_Status|
+-----------+------+----+-------------------+
|  EID_24456|     F|42.0|            Married|
|   EID_7989|     M|59.0|            Married|
|   EID_6514|     F|53.0|            Married|
|   EID_9529|     M|65.0|             Single|
|  EID_14483|     M|25.0|            Married|
|  EID_12137|     M|35.0|             Single|
|   EID_9735|     F|37.0|            Married|
|  EID_18391|     F|21.0|             Single|
|   EID_8892|     M|48.0|             Single|
|   EID_6503|     F|48.0|            Married|
|  EID_15401|     M|31.0|             Single|
|  EID_16158|     F|29.0|            Married|
|  EID_15706|     M|23.0|             Single|
|   EID_8197|     F|49.0|            Married|
|   EID_6439|     F|53.0|            Married|
|   EID_5905|     F|54.0|            Married|
|   EID_8544|     F|59.0|             Single|
|  EID_23057|     M|45.0|            Married|
|   EID_4538|     F|57.0|             Single|
|   EID_3718|     F|64.0|            Married|
+-----------+------+----+-------------------+
only showing top 20 rows

In [ ]:
# sample() to create a sample from the original dataframe
sample_data=data.sample(withReplacement=True,fraction=0.2,seed=1)
sample_data.show(5)
print('Sample size:',sample_data.count())

+-----------+------+----+---------------+-------------------+-----------+----------+----------------------+---------------+--------------------+-----------+-----------+----------+---------+-------------------------+-----------------+----+-------+-------+----+----+----+----+--------------+
|Employee_ID|Gender| Age|Education_Level|Relationship_Status|   Hometown|      Unit|Decision_skill_possess|Time_of_service|Time_since_promotion|growth_rate|Travel_Rate|Post_Level|Pay_Scale|Compensation_and_Benefits|Work_Life_balance|VAR1|   VAR2|   VAR3|VAR4|VAR5|VAR6|VAR7|Attrition_rate|
+-----------+------+----+---------------+-------------------+-----------+----------+----------------------+---------------+--------------------+-----------+-----------+----------+---------+-------------------------+-----------------+----+-------+-------+----+----+----+----+--------------+
|  EID_23371|     F|42.0|              4|            Married|   Franklin|        IT|            Conceptual|            4.0|                   4|         33|          1|         1|      7.0|                    type2|              3.0|   4| 0.7516| 1.8688| 2.0|   4|   5|   3|        0.1841|
|  EID_22534|     F|31.0|              1|            Married|Springfield| Logistics|            Conceptual|            5.0|                   4|         62|          1|         3|      2.0|                    type3|              3.0|   1| 0.7516|-0.4537| 2.0|   2|   8|   2|        0.1827|
|   EID_2278|     M|54.0|              3|            Married|    Lebanon|Purchasing|            Conceptual|           19.0|                   1|         21|          2|         5|      9.0|                    type2|              1.0|   3|-1.8176| 1.8688| 2.0|   2|   8|   3|        0.7613|
|  EID_10197|     M|40.0|              4|             Single|Springfield|Production|            Analytical|           13.0|                   1|         49|          0|         1|      9.0|                    type0|              4.0|   1|   NULL| 1.8688| 2.0|   5|   6|   3|        0.1968|
|  EID_16808|     F|24.0|              5|             Single|Springfield|     Sales|            Conceptual|            5.0|                   1|         52|          0|         3|      8.0|                    type2|              2.0|   3|-0.9612|-0.4537|NULL|   3|   8|   5|        0.1742|
+-----------+------+----+---------------+-------------------+-----------+----------+----------------------+---------------+--------------------+-----------+-----------+----------+---------+-------------------------+-----------------+----+-------+-------+----+----+----+----+--------------+
only showing top 5 rows

Sample size: 1338

## SQL

In [ ]:
# Creation of temp view table
data.createTempView("EMP_DETAILS")

In [ ]:
# SQL query to view the table
spark.sql("select * from EMP_DETAILS").show(5)

+-----------+------+----+---------------+-------------------+-----------+--------------------+----------------------+---------------+--------------------+-----------+-----------+----------+---------+-------------------------+-----------------+----+-------+-------+----+----+----+----+--------------+
|Employee_ID|Gender| Age|Education_Level|Relationship_Status|   Hometown|                Unit|Decision_skill_possess|Time_of_service|Time_since_promotion|growth_rate|Travel_Rate|Post_Level|Pay_Scale|Compensation_and_Benefits|Work_Life_balance|VAR1|   VAR2|   VAR3|VAR4|VAR5|VAR6|VAR7|Attrition_rate|
+-----------+------+----+---------------+-------------------+-----------+--------------------+----------------------+---------------+--------------------+-----------+-----------+----------+---------+-------------------------+-----------------+----+-------+-------+----+----+----+----+--------------+
|  EID_23371|     F|42.0|              4|            Married|   Franklin|                  IT|            Conceptual|            4.0|                   4|         33|          1|         1|      7.0|                    type2|              3.0|   4| 0.7516| 1.8688| 2.0|   4|   5|   3|        0.1841|
|  EID_18000|     M|24.0|              3|             Single|Springfield|           Logistics|            Analytical|            5.0|                   4|         36|          0|         3|      6.0|                    type2|              4.0|   3|-0.9612|-0.4537| 2.0|   3|   5|   3|         0.067|
|   EID_3891|     F|58.0|              3|            Married|    Clinton|             Quality|            Conceptual|           27.0|                   3|         51|          0|         2|      8.0|                    type2|              1.0|   4|-0.9612|-0.4537| 3.0|   3|   8|   3|        0.0851|
|  EID_17492|     F|26.0|              3|             Single|    Lebanon|Human Resource Ma...|            Behavioral|            4.0|                   3|         56|          1|         3|      8.0|                    type2|              1.0|   3|-1.8176|-0.4537|NULL|   3|   7|   3|        0.0668|
|  EID_22534|     F|31.0|              1|            Married|Springfield|           Logistics|            Conceptual|            5.0|                   4|         62|          1|         3|      2.0|                    type3|              3.0|   1| 0.7516|-0.4537| 2.0|   2|   8|   2|        0.1827|
+-----------+------+----+---------------+-------------------+-----------+--------------------+----------------------+---------------+--------------------+-----------+-----------+----------+---------+-------------------------+-----------------+----+-------+-------+----+----+----+----+--------------+
only showing top 5 rows

In [ ]:
# SSQL query to view distinct values of cattegory column
spark.sql("select distinct Hometown from EMP_DETAILS").show(25,False)

+-----------+
|Hometown   |
+-----------+
|Springfield|
|Franklin   |
|Washington |
|Clinton    |
|Lebanon    |
+-----------+

In [ ]:
# SQL query to choose books under fiction category
spark.sql("select Employee_ID,Gender,Age,Hometown from EMP_DETAILS where Hometown like '%Springfield%' ").show(10,False)

+-----------+------+----+-----------+
|Employee_ID|Gender|Age |Hometown   |
+-----------+------+----+-----------+
|EID_18000  |M     |24.0|Springfield|
|EID_22534  |F     |31.0|Springfield|
|EID_18588  |F     |21.0|Springfield|
|EID_1235   |F     |NULL|Springfield|
|EID_10197  |M     |40.0|Springfield|
|EID_19087  |F     |19.0|Springfield|
|EID_20121  |F     |NULL|Springfield|
|EID_8049   |F     |40.0|Springfield|
|EID_14638  |M     |33.0|Springfield|
|EID_23546  |F     |25.0|Springfield|
+-----------+------+----+-----------+
only showing top 10 rows

In [ ]:
from pyspark.sql.functions import lit

In [ ]:
# SQL query to add a new column
spark.sql("select distinct Unit from EMP_DETAILS").withColumn("Salary",lit(0)).show()

+--------------------+------+
|                Unit|Salary|
+--------------------+------+
|               Sales|     0|
|            Security|     0|
|Human Resource Ma...|     0|
|          Production|     0|
|          Purchasing|     0|
|          Operarions|     0|
|Accounting and Fi...|     0|
|           Marketing|     0|
|                  IT|     0|
|           Logistics|     0|
|                 R&D|     0|
|             Quality|     0|
+--------------------+------+

In [ ]:
#SQL query to add multiple columns
spark.sql("select distinct Unit from EMP_DETAILS")\
      .withColumn("Salary",lit(0))\
      .withColumn("prev_sal",lit("unknown"))\
      .withColumn("expected_sal",lit(0)).show()

+--------------------+------+--------+------------+
|                Unit|Salary|prev_sal|expected_sal|
+--------------------+------+--------+------------+
|               Sales|     0| unknown|           0|
|            Security|     0| unknown|           0|
|Human Resource Ma...|     0| unknown|           0|
|          Production|     0| unknown|           0|
|          Purchasing|     0| unknown|           0|
|          Operarions|     0| unknown|           0|
|Accounting and Fi...|     0| unknown|           0|
|           Marketing|     0| unknown|           0|
|                  IT|     0| unknown|           0|
|           Logistics|     0| unknown|           0|
|                 R&D|     0| unknown|           0|
|             Quality|     0| unknown|           0|
+--------------------+------+--------+------------+

In [ ]:
# SQL query to find average rating of each book
spark.sql("select Unit, round(avg(Pay_Scale),2) as avg_payscale from EMP_DETAILS group by Unit").show()

+--------------------+------------+
|                Unit|avg_payscale|
+--------------------+------------+
|               Sales|        5.98|
|            Security|        5.97|
|Human Resource Ma...|        6.07|
|          Production|        5.99|
|          Purchasing|        6.08|
|          Operarions|        6.09|
|Accounting and Fi...|        6.04|
|           Marketing|        6.08|
|                  IT|        5.96|
|           Logistics|        5.98|
|                 R&D|        5.94|
|             Quality|        6.17|
+--------------------+------------+

In [ ]:
from pyspark.sql import functions as F

In [ ]:
# To add a new column named popularity based on the rating
ds=spark.sql("select Unit, round(avg(Pay_Scale),2) as avg_payscale from EMP_DETAILS group by Unit")
ds.withColumn("GOOD",F.when(ds["avg_Payscale"]>=5.0,"GOOD")\
              .otherwise("Average")).show(30)

+--------------------+------------+----+
|                Unit|avg_payscale|GOOD|
+--------------------+------------+----+
|               Sales|        5.98|GOOD|
|            Security|        5.97|GOOD|
|Human Resource Ma...|        6.07|GOOD|
|          Production|        5.99|GOOD|
|          Purchasing|        6.08|GOOD|
|          Operarions|        6.09|GOOD|
|Accounting and Fi...|        6.04|GOOD|
|           Marketing|        6.08|GOOD|
|                  IT|        5.96|GOOD|
|           Logistics|        5.98|GOOD|
|                 R&D|        5.94|GOOD|
|             Quality|        6.17|GOOD|
+--------------------+------------+----+

## MACHINE LEARNING

In [ ]:
from pyspark.ml.regression import LinearRegression
from pyspark.ml.feature import VectorAssembler

In [ ]:
data = spark.read.csv("/content/drive/MyDrive/Train.csv", header=True, inferSchema=True)

In [ ]:
data.printSchema()

root
 |-- Employee_ID: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- Education_Level: integer (nullable = true)
 |-- Relationship_Status: string (nullable = true)
 |-- Hometown: string (nullable = true)
 |-- Unit: string (nullable = true)
 |-- Decision_skill_possess: string (nullable = true)
 |-- Time_of_service: double (nullable = true)
 |-- Time_since_promotion: integer (nullable = true)
 |-- growth_rate: integer (nullable = true)
 |-- Travel_Rate: integer (nullable = true)
 |-- Post_Level: integer (nullable = true)
 |-- Pay_Scale: double (nullable = true)
 |-- Compensation_and_Benefits: string (nullable = true)
 |-- Work_Life_balance: double (nullable = true)
 |-- VAR1: integer (nullable = true)
 |-- VAR2: double (nullable = true)
 |-- VAR3: double (nullable = true)
 |-- VAR4: double (nullable = true)
 |-- VAR5: integer (nullable = true)
 |-- VAR6: integer (nullable = true)
 |-- VAR7: integer (nullable = true)
 |-- Attrition_rate: double (nullable = true)

In [ ]:
data.show(10,False)

+-----------+------+----+---------------+-------------------+-----------+-------------------------+----------------------+---------------+--------------------+-----------+-----------+----------+---------+-------------------------+-----------------+----+-------+-------+----+----+----+----+--------------+
|Employee_ID|Gender|Age |Education_Level|Relationship_Status|Hometown   |Unit                     |Decision_skill_possess|Time_of_service|Time_since_promotion|growth_rate|Travel_Rate|Post_Level|Pay_Scale|Compensation_and_Benefits|Work_Life_balance|VAR1|VAR2   |VAR3   |VAR4|VAR5|VAR6|VAR7|Attrition_rate|
+-----------+------+----+---------------+-------------------+-----------+-------------------------+----------------------+---------------+--------------------+-----------+-----------+----------+---------+-------------------------+-----------------+----+-------+-------+----+----+----+----+--------------+
|EID_23371  |F     |42.0|4              |Married            |Franklin   |IT                       |Conceptual            |4.0            |4                   |33         |1          |1         |7.0      |type2                    |3.0              |4   |0.7516 |1.8688 |2.0 |4   |5   |3   |0.1841        |
|EID_18000  |M     |24.0|3              |Single             |Springfield|Logistics                |Analytical            |5.0            |4                   |36         |0          |3         |6.0      |type2                    |4.0              |3   |-0.9612|-0.4537|2.0 |3   |5   |3   |0.067         |
|EID_3891   |F     |58.0|3              |Married            |Clinton    |Quality                  |Conceptual            |27.0           |3                   |51         |0          |2         |8.0      |type2                    |1.0              |4   |-0.9612|-0.4537|3.0 |3   |8   |3   |0.0851        |
|EID_17492  |F     |26.0|3              |Single             |Lebanon    |Human Resource Management|Behavioral            |4.0            |3                   |56         |1          |3         |8.0      |type2                    |1.0              |3   |-1.8176|-0.4537|NULL|3   |7   |3   |0.0668        |
|EID_22534  |F     |31.0|1              |Married            |Springfield|Logistics                |Conceptual            |5.0            |4                   |62         |1          |3         |2.0      |type3                    |3.0              |1   |0.7516 |-0.4537|2.0 |2   |8   |2   |0.1827        |
|EID_2278   |M     |54.0|3              |Married            |Lebanon    |Purchasing               |Conceptual            |19.0           |1                   |21         |2          |5         |9.0      |type2                    |1.0              |3   |-1.8176|1.8688 |2.0 |2   |8   |3   |0.7613        |
|EID_18588  |F     |21.0|4              |Married            |Springfield|Purchasing               |Directive             |2.0            |1                   |50         |1          |1         |6.0      |type2                    |2.0              |3   |-0.9612|0.7075 |2.0 |3   |7   |3   |0.2819        |
|EID_1235   |F     |NULL|3              |Married            |Springfield|Sales                    |Directive             |34.0           |4                   |23         |1          |4         |6.0      |type3                    |2.0              |3   |-0.1048|-0.4537|2.0 |3   |9   |3   |0.1169        |
|EID_10197  |M     |40.0|4              |Single             |Springfield|Production               |Analytical            |13.0           |1                   |49         |0          |1         |9.0      |type0                    |4.0              |1   |NULL   |1.8688 |2.0 |5   |6   |3   |0.1968        |
|EID_21262  |M     |45.0|3              |Married            |Lebanon    |IT                       |Directive             |21.0           |4                   |34         |0          |2         |5.0      |type3                    |4.0              |3   |0.7516 |-0.4537|2.0 |4   |8   |3   |0.287         |
+-----------+------+----+---------------+-------------------+-----------+-------------------------+----------------------+---------------+--------------------+-----------+-----------+----------+---------+-------------------------+-----------------+----+-------+-------+----+----+----+----+--------------+
only showing top 10 rows

In [ ]:
data =data.na.drop()

In [ ]:
# Encode categorical features
from pyspark.ml.feature import StringIndexer
indexer = StringIndexer(inputCols=["Employee_ID","Gender","Relationship_Status","Hometown","Unit","Decision_skill_possess","Compensation_and_Benefits"], outputCols=["Employee_ID_index","Gender_index","Relationship_Status_index","Hometown_index","Unit_index","Decision_skill_possess_index","Compensation_and_Benefits_index"])

In [ ]:
indexed = indexer.fit(data).transform(data)

In [ ]:
indexed.show()

+-----------+------+----+---------------+-------------------+-----------+--------------------+----------------------+---------------+--------------------+-----------+-----------+----------+---------+-------------------------+-----------------+----+-------+-------+----+----+----+----+--------------------+-----------------+------------+-------------------------+--------------+----------+----------------------------+-------------------------------+
|Employee_ID|Gender| Age|Education_Level|Relationship_Status|   Hometown|                Unit|Decision_skill_possess|Time_of_service|Time_since_promotion|growth_rate|Travel_Rate|Post_Level|Pay_Scale|Compensation_and_Benefits|Work_Life_balance|VAR1|   VAR2|   VAR3|VAR4|VAR5|VAR6|VAR7|      Attrition_rate|Employee_ID_index|Gender_index|Relationship_Status_index|Hometown_index|Unit_index|Decision_skill_possess_index|Compensation_and_Benefits_index|
+-----------+------+----+---------------+-------------------+-----------+--------------------+----------------------+---------------+--------------------+-----------+-----------+----------+---------+-------------------------+-----------------+----+-------+-------+----+----+----+----+--------------------+-----------------+------------+-------------------------+--------------+----------+----------------------------+-------------------------------+
|  EID_23371|     F|42.0|              4|            Married|   Franklin|                  IT|            Conceptual|            4.0|                   4|         33|          1|         1|      7.0|                    type2|              3.0|   4| 0.7516| 1.8688| 2.0|   4|   5|   3|              0.1841|           3137.0|         0.0|                      0.0|           2.0|       0.0|                         2.0|                            0.0|
|  EID_18000|     M|24.0|              3|             Single|Springfield|           Logistics|            Analytical|            5.0|                   4|         36|          0|         3|      6.0|                    type2|              4.0|   3|-0.9612|-0.4537| 2.0|   3|   5|   3|               0.067|           1877.0|         1.0|                      1.0|           1.0|       1.0|                         0.0|                            0.0|
|   EID_3891|     F|58.0|              3|            Married|    Clinton|             Quality|            Conceptual|           27.0|                   3|         51|          0|         2|      8.0|                    type2|              1.0|   4|-0.9612|-0.4537| 3.0|   3|   8|   3|              0.0851|           4062.0|         0.0|                      0.0|           4.0|      10.0|                         2.0|                            0.0|
|  EID_22534|     F|31.0|              1|            Married|Springfield|           Logistics|            Conceptual|            5.0|                   4|         62|          1|         3|      2.0|                    type3|              3.0|   1| 0.7516|-0.4537| 2.0|   2|   8|   2|              0.1827|           2937.0|         0.0|                      0.0|           1.0|       1.0|                         2.0|                            1.0|
|   EID_2278|     M|54.0|              3|            Married|    Lebanon|          Purchasing|            Conceptual|           19.0|                   1|         21|          2|         5|      9.0|                    type2|              1.0|   3|-1.8176| 1.8688| 2.0|   2|   8|   3|              0.7613|           3002.0|         1.0|                      0.0|           0.0|       5.0|                         2.0|                            0.0|
|  EID_18588|     F|21.0|              4|            Married|Springfield|          Purchasing|             Directive|            2.0|                   1|         50|          1|         1|      6.0|                    type2|              2.0|   3|-0.9612| 0.7075| 2.0|   3|   7|   3|              0.2819|           2026.0|         0.0|                      0.0|           1.0|       5.0|                         1.0|                            0.0|
|  EID_21262|     M|45.0|              3|            Married|    Lebanon|                  IT|             Directive|           21.0|                   4|         34|          0|         2|      5.0|                    type3|              4.0|   3| 0.7516|-0.4537| 2.0|   4|   8|   3|               0.287|           2657.0|         1.0|                      0.0|           0.0|       0.0|                         1.0|                            1.0|
|   EID_9153|     F|65.0|              5|             Single|    Lebanon|          Purchasing|            Behavioral|           31.0|                   3|         49|          1|         1|      6.0|                    type3|              3.0|   3| 0.7516|-0.4537| 3.0|   4|   6|   3|              0.2735|           5182.0|         0.0|                      1.0|           0.0|       5.0|                         3.0|                            1.0|
|  EID_19087|     F|19.0|              5|             Single|Springfield|          Operarions|            Analytical|            0.0|                   0|         25|          1|         2|      5.0|                    type4|              1.0|   3|-1.8176|-0.4537| 2.0|   3|   6|   3|                0.08|           2144.0|         0.0|                      1.0|           1.0|       3.0|                         0.0|                            2.0|
|   EID_4825|     M|63.0|              3|            Married|    Lebanon|               Sales|            Conceptual|           27.0|                   1|         29|          0|         2|      7.0|                    type2|              1.0|   3|-0.1048|-0.4537| 2.0|   5|   6|   3|              0.2109|           4267.0|         1.0|                      0.0|           0.0|       2.0|                         2.0|                            0.0|
|  EID_17644|     F|23.0|              4|             Single| Washington|           Logistics|            Conceptual|            4.0|                   2|         70|          1|         3|      8.0|                    type2|              3.0|   4|-0.1048| -1.615| 2.0|   4|   8|   3|              0.1696|           1807.0|         0.0|                      1.0|           3.0|       1.0|                         2.0|                            0.0|
|  EID_20902|     F|19.0|              3|            Married| Washington|Human Resource Ma...|             Directive|            0.0|                   0|         74|          0|         2|      9.0|                    type2|              3.0|   3|-0.9612| 1.8688| 2.0|   4|   6|   3|              0.0318|           2564.0|         0.0|                      0.0|           3.0|       7.0|                         1.0|                            0.0|
|   EID_5504|     M|65.0|              4|             Single|   Franklin|                  IT|            Behavioral|           35.0|                   1|         58|          0|         3|      4.0|                    type2|              2.0|   3|-0.1048| 0.7075| 1.0|   3|   5|   3|              0.0671|           4403.0|         1.0|                      1.0|           2.0|       0.0|                         3.0|                            0.0|
|   EID_8049|     F|40.0|              4|            Married|Springfield|Accounting and Fi...|             Directive|           12.0|                   1|         45|          1|         3|      9.0|                    type3|              2.0|   3|-0.9612|-0.4537| 2.0|   5|   8|   4|              0.1468|           4947.0|         0.0|                      0.0|           1.0|       6.0|                         1.0|                            1.0|
|  EID_14638|     M|33.0|              3|             Single|Springfield|Accounting and Fi...|            Analytical|            9.0|                   1|         39|          1|         2|      5.0|                    type3|              1.0|   3|-1.8176| 0.7075| 2.0|   3|   8|   3|0.055999999999999994|           1119.0|         1.0|                      1.0|           1.0|       6.0|                         0.0|                            1.0|
|  EID_20029|     F|22.0|              4|            Married|    Clinton|             Quality|            Behavioral|            3.0|                   1|         53|          0|         4|      6.0|                    type2|              3.0|   3|-0.9612|-0.4537| 2.0|   2|   7|   4|              0.1095|           2372.0|         0.0|                      0.0|           4.0|      10.0|                         3.0|                            0.0|
|  EID_23546|     F|25.0|              3|            Married|Springfield|                  IT|             Directive|            6.0|                   3|         53|          1|         2|      6.0|                    type3|              1.0|   3| 0.7516| 0.7075| 3.0|   3|   8|   4|              0.0462|           3184.0|         0.0|                      0.0|           1.0|       0.0|                         1.0|                            1.0|
|  EID_23853|     F|31.0|              4|            Married| Washington|Accounting and Fi...|            Analytical|            6.0|                   4|         39|          1|         3|      8.0|                    type3|              1.0|   3|-0.1048| 0.7075| 2.0|   3|   5|   3|              0.2704|           3245.0|         0.0|                      0.0|           3.0|       6.0|                         0.0|                            1.0|
|   EID_4861|     F|47.0|              4|             Single| Washington|                 R&D|            Analytical|           21.0|                   1|         34|          1|         3|      8.0|                    type2|              4.0|   4| 0.7516| 0.7075| 2.0|   3|   5|   2|              0.2269|           4275.0|         0.0|                      1.0|           3.0|       4.0|                         0.0|                            0.0|
|  EID_14066|     F|34.0|              3|            Married|    Lebanon|          Operarions|            Analytical|            6.0|                   1|         29|          0|         4|      7.0|                    type2|              3.0|   3|-1.8176|-0.4537| 2.0|   2|   8|   3|               0.273|            982.0|         0.0|                      0.0|           0.0|       3.0|                         0.0|                            0.0|
+-----------+------+----+---------------+-------------------+-----------+--------------------+----------------------+---------------+--------------------+-----------+-----------+----------+---------+-------------------------+-----------------+----+-------+-------+----+----+----+----+--------------------+-----------------+------------+-------------------------+--------------+----------+----------------------------+-------------------------------+
only showing top 20 rows

In [ ]:
assembler=VectorAssembler(inputCols=["Age","Education_Level","Time_of_service","Time_since_promotion","growth_rate","Travel_Rate","Post_Level","Pay_Scale","Work_Life_balance","VAR1","VAR2","VAR3","VAR4","VAR5","VAR6","VAR7","Employee_ID_index","Gender_index","Relationship_Status_index","Hometown_index","Unit_index","Decision_skill_possess_index","Compensation_and_Benefits_index"],outputCol='features')

In [ ]:
output=assembler.transform(indexed)

In [ ]:
output.printSchema()

root
 |-- Employee_ID: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- Education_Level: integer (nullable = true)
 |-- Relationship_Status: string (nullable = true)
 |-- Hometown: string (nullable = true)
 |-- Unit: string (nullable = true)
 |-- Decision_skill_possess: string (nullable = true)
 |-- Time_of_service: double (nullable = true)
 |-- Time_since_promotion: integer (nullable = true)
 |-- growth_rate: integer (nullable = true)
 |-- Travel_Rate: integer (nullable = true)
 |-- Post_Level: integer (nullable = true)
 |-- Pay_Scale: double (nullable = true)
 |-- Compensation_and_Benefits: string (nullable = true)
 |-- Work_Life_balance: double (nullable = true)
 |-- VAR1: integer (nullable = true)
 |-- VAR2: double (nullable = true)
 |-- VAR3: double (nullable = true)
 |-- VAR4: double (nullable = true)
 |-- VAR5: integer (nullable = true)
 |-- VAR6: integer (nullable = true)
 |-- VAR7: integer (nullable = true)
 |-- Attrition_rate: double (nullable = true)
 |-- Employee_ID_index: double (nullable = false)
 |-- Gender_index: double (nullable = false)
 |-- Relationship_Status_index: double (nullable = false)
 |-- Hometown_index: double (nullable = false)
 |-- Unit_index: double (nullable = false)
 |-- Decision_skill_possess_index: double (nullable = false)
 |-- Compensation_and_Benefits_index: double (nullable = false)
 |-- features: vector (nullable = true)

In [ ]:
final_data=output.select('features','Attrition_rate')
final_data.show()

+--------------------+--------------------+
|            features|      Attrition_rate|
+--------------------+--------------------+
|[42.0,4.0,4.0,4.0...|              0.1841|
|[24.0,3.0,5.0,4.0...|               0.067|
|[58.0,3.0,27.0,3....|              0.0851|
|[31.0,1.0,5.0,4.0...|              0.1827|
|[54.0,3.0,19.0,1....|              0.7613|
|[21.0,4.0,2.0,1.0...|              0.2819|
|[45.0,3.0,21.0,4....|               0.287|
|[65.0,5.0,31.0,3....|              0.2735|
|[19.0,5.0,0.0,0.0...|                0.08|
|[63.0,3.0,27.0,1....|              0.2109|
|[23.0,4.0,4.0,2.0...|              0.1696|
|[19.0,3.0,0.0,0.0...|              0.0318|
|[65.0,4.0,35.0,1....|              0.0671|
|[40.0,4.0,12.0,1....|              0.1468|
|[33.0,3.0,9.0,1.0...|0.055999999999999994|
|[22.0,4.0,3.0,1.0...|              0.1095|
|[25.0,3.0,6.0,3.0...|              0.0462|
|[31.0,4.0,6.0,4.0...|              0.2704|
|[47.0,4.0,21.0,1....|              0.2269|
|[34.0,3.0,6.0,1.0...|               0.273|
+--------------------+--------------------+
only showing top 20 rows

In [ ]:
train_data,test_data=final_data.randomSplit([0.7,0.3])

In [ ]:
#regressor=LinearRegression(labelCol='price')
regressor=LinearRegression(maxIter=100,regParam=1,elasticNetParam=0.3,labelCol='Attrition_rate')

In [ ]:
model=regressor.fit(train_data)

In [ ]:
test_predictions = model.transform(test_data)
test_predictions.show(40)

+--------------------+-------------------+------------------+
|            features|     Attrition_rate|        prediction|
+--------------------+-------------------+------------------+
|[19.0,1.0,0.0,0.0...|             0.0965|0.1870424477771829|
|[19.0,1.0,0.0,0.0...|             0.0902|0.1870424477771829|
|[19.0,1.0,0.0,0.0...|             0.7142|0.1870424477771829|
|[19.0,1.0,0.0,0.0...|             0.2147|0.1870424477771829|
|[19.0,1.0,0.0,0.0...|             0.1263|0.1870424477771829|
|[19.0,2.0,0.0,0.0...|             0.6996|0.1870424477771829|
|[19.0,2.0,0.0,0.0...|             0.2516|0.1870424477771829|
|[19.0,3.0,0.0,0.0...|             0.1863|0.1870424477771829|
|[19.0,3.0,0.0,0.0...|             0.1586|0.1870424477771829|
|[19.0,3.0,0.0,0.0...|             0.1879|0.1870424477771829|
|[19.0,3.0,0.0,0.0...|             0.4894|0.1870424477771829|
|[19.0,3.0,0.0,0.0...|             0.0123|0.1870424477771829|
|[19.0,3.0,0.0,0.0...|             0.0156|0.1870424477771829|
|[19.0,3.0,0.0,0.0...|             0.0678|0.1870424477771829|
|[19.0,3.0,0.0,0.0...|             0.0143|0.1870424477771829|
|[19.0,3.0,0.0,0.0...|             0.0684|0.1870424477771829|
|[19.0,3.0,0.0,0.0...|             0.1946|0.1870424477771829|
|[19.0,3.0,0.0,0.0...|             0.1317|0.1870424477771829|
|[19.0,3.0,0.0,0.0...|             0.2111|0.1870424477771829|
|[19.0,3.0,0.0,0.0...|0.12300000000000001|0.1870424477771829|
|[19.0,3.0,0.0,0.0...|             0.0105|0.1870424477771829|
|[19.0,3.0,0.0,0.0...|             0.0154|0.1870424477771829|
|[19.0,3.0,0.0,0.0...|             0.0318|0.1870424477771829|
|[19.0,4.0,0.0,0.0...|             0.2577|0.1870424477771829|
|[19.0,4.0,0.0,0.0...|             0.1788|0.1870424477771829|
|[19.0,4.0,0.0,0.0...|             0.1798|0.1870424477771829|
|[19.0,4.0,0.0,0.0...|             0.1441|0.1870424477771829|
|[19.0,4.0,0.0,0.0...|             0.1622|0.1870424477771829|
|[19.0,4.0,0.0,0.0...|             0.1105|0.1870424477771829|
|[19.0,4.0,0.0,0.0...|             0.1306|0.1870424477771829|
|[19.0,4.0,0.0,0.0...|              0.174|0.1870424477771829|
|[19.0,4.0,0.0,0.0...|             0.1019|0.1870424477771829|
|[19.0,4.0,0.0,0.0...|             0.0133|0.1870424477771829|
|[19.0,4.0,0.0,0.0...|             0.1493|0.1870424477771829|
|[19.0,4.0,0.0,0.0...|             0.0505|0.1870424477771829|
|[19.0,4.0,0.0,0.0...|             0.0891|0.1870424477771829|
|[19.0,4.0,0.0,0.0...|             0.9743|0.1870424477771829|
|[19.0,5.0,0.0,0.0...|             0.2367|0.1870424477771829|
|[19.0,5.0,0.0,0.0...|             0.1468|0.1870424477771829|
|[19.0,5.0,0.0,0.0...|             0.7082|0.1870424477771829|
+--------------------+-------------------+------------------+
only showing top 40 rows

In [ ]:
pred_data=model.evaluate(test_data)
pred_data.residuals.show()

+--------------------+
|           residuals|
+--------------------+
| -0.0905424477771829|
| -0.0968424477771829|
|   0.527157552222817|
|  0.0276575522228171|
|-0.06074244777718...|
|  0.5125575522228171|
| 0.06455755222281709|
|-7.42447777182908...|
|-0.02844244777718291|
|8.575522228171095E-4|
|  0.3023575522228171|
| -0.1747424477771829|
| -0.1714424477771829|
| -0.1192424477771829|
| -0.1727424477771829|
| -0.1186424477771829|
|0.007557552222817093|
|-0.05534244777718289|
|0.024057552222817108|
|-0.06404244777718289|
+--------------------+
only showing top 20 rows

In [ ]:
pred_data.r2

-0.0016893583123214206

In [ ]:
featurecols =["Age","Education_Level","Time_of_service","Time_since_promotion","growth_rate","Travel_Rate","Post_Level","Pay_Scale","Work_Life_balance","VAR1","VAR2","VAR3","VAR4","VAR5","VAR6","VAR7","Employee_ID_index","Gender_index","Relationship_Status_index","Hometown_index","Unit_index","Decision_skill_possess_index","Compensation_and_Benefits_index"]

In [ ]:
input_data=[(41.0,3,18.0,3,21,0,2,4.0,1.0,3,-1.8176,-0.4537,2.0,3,6,3,1877.0,1.0,1.0,1.0,1.0,0.0,0.0),(42.0,2,19.0,3,22,0,1,3.0,1.0,3,-1.8176,-0.4237,2.0,3,5,3,1877.0,1.0,1.0,1.0,1.0,0.0,0.0)]
output_list=spark.createDataFrame(data=input_data,schema=featurecols)

In [ ]:
output_list.show()

+----+---------------+---------------+--------------------+-----------+-----------+----------+---------+-----------------+----+-------+-------+----+----+----+----+-----------------+------------+-------------------------+--------------+----------+----------------------------+-------------------------------+
| Age|Education_Level|Time_of_service|Time_since_promotion|growth_rate|Travel_Rate|Post_Level|Pay_Scale|Work_Life_balance|VAR1|   VAR2|   VAR3|VAR4|VAR5|VAR6|VAR7|Employee_ID_index|Gender_index|Relationship_Status_index|Hometown_index|Unit_index|Decision_skill_possess_index|Compensation_and_Benefits_index|
+----+---------------+---------------+--------------------+-----------+-----------+----------+---------+-----------------+----+-------+-------+----+----+----+----+-----------------+------------+-------------------------+--------------+----------+----------------------------+-------------------------------+
|41.0|              3|           18.0|                   3|         21|          0|         2|      4.0|              1.0|   3|-1.8176|-0.4537| 2.0|   3|   6|   3|           1877.0|         1.0|                      1.0|           1.0|       1.0|                         0.0|                            0.0|
|42.0|              2|           19.0|                   3|         22|          0|         1|      3.0|              1.0|   3|-1.8176|-0.4237| 2.0|   3|   5|   3|           1877.0|         1.0|                      1.0|           1.0|       1.0|                         0.0|                            0.0|
+----+---------------+---------------+--------------------+-----------+-----------+----------+---------+-----------------+----+-------+-------+----+----+----+----+-----------------+------------+-------------------------+--------------+----------+----------------------------+-------------------------------+

In [ ]:
output1=assembler.transform(output_list)
final_data1=output1.select("features")
final_data1.show(truncate=False)

+-----------------------------------------------------------------------------------------------------------+
|features                                                                                                   |
+-----------------------------------------------------------------------------------------------------------+
|[41.0,3.0,18.0,3.0,21.0,0.0,2.0,4.0,1.0,3.0,-1.8176,-0.4537,2.0,3.0,6.0,3.0,1877.0,1.0,1.0,1.0,1.0,0.0,0.0]|
|[42.0,2.0,19.0,3.0,22.0,0.0,1.0,3.0,1.0,3.0,-1.8176,-0.4237,2.0,3.0,5.0,3.0,1877.0,1.0,1.0,1.0,1.0,0.0,0.0]|
+-----------------------------------------------------------------------------------------------------------+

In [ ]:
predictions=model.transform(final_data1)
predictions.show(truncate=False)

+-----------------------------------------------------------------------------------------------------------+------------------+
|features                                                                                                   |prediction        |
+-----------------------------------------------------------------------------------------------------------+------------------+
|[41.0,3.0,18.0,3.0,21.0,0.0,2.0,4.0,1.0,3.0,-1.8176,-0.4537,2.0,3.0,6.0,3.0,1877.0,1.0,1.0,1.0,1.0,0.0,0.0]|0.1870424477771829|
|[42.0,2.0,19.0,3.0,22.0,0.0,1.0,3.0,1.0,3.0,-1.8176,-0.4237,2.0,3.0,5.0,3.0,1877.0,1.0,1.0,1.0,1.0,0.0,0.0]|0.1870424477771829|
+-----------------------------------------------------------------------------------------------------------+------------------+

THUS ABOVE THE EMPLOYEE ATTRITION RATE IS PREDICTED WITH RANDOM INPUTS.